{#-
    Shows the intro help advice on /
-#}

<div class="panel panel-default about-help collapse in">
    <div class="panel-body">
        <div class="col-md-6">
            <div class="collapse in" id="about_preview">
                <p>
                    Bioreactor is a functional genomics ...
                </p>
            </div>
            <div class="collapse" id="about_full">
                <p>
                    Bioreactor is a functional genomics tool that does magic #yolo
                </p>
                <button id="about_got_it_button" class="btn btn-default">
                    Got it #yolo
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn collapse in" id="expand-about-text-button">
                Expand
            </button>
        </div>
    </div>
</div>