<div id="parameters_specific_viruses_div">
    <div>
        <button type="button" class="btn btn-default col-md-1" id="parameters_specific_viruses_collapse"
                aria-label="Open">
            <span class="glyphicon glyphicon-plus specific_viruses" aria-hidden="true"></span>
        </button>
        <h4 id="promoter-toggle" class="col-md-11">
            Limit to specific viruses
        </h4>
    </div>

    <div class="collapse" style="margin-left:50px">
        <table>
            <tr>
                <th>
                    <input id="textbox_specific_virus" type="text" style="margin-bottom:20px; width: 210px"
                           placeholder="Filter on partial name of virus" />
                </th>
            </tr>

            <tr>
                <td>
                    <select id="select_specific_virus" style="width: 210px" multiple>
                        <option class="1" value="1">1</option>
                        <option class="2" value="12">12</option>
                        <option class="3" value="123">123</option>
                        <option class="4" value="1234">1234</option>
                        <option class="5" value="12345">12345</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>