<div id="parameters_upstream_div">
    <div>
        <button type="button" class="btn btn-default col-md-1" id="parameters_upstream_collapse" aria-label="Open">
            <span class="glyphicon glyphicon-plus upstream" aria-hidden="true"></span>
        </button>
        <h4 class="col-md-11"
            title="Options to scan the promoter region or only the gene body and add additional upstream/downstream bases to the intersection region">
            Promoter region and upstream/downstream bases</h4>
    </div>

    <div class="collapse" id="promoter" style="margin-left:50px">
        <label for="scan-promoter"
               title="Coordinates relative to transcription start site? (If unchecked, coordinates are relative to the gene body.)">
            Coordinates relative to TSS?: </label>
        <p><input type="checkbox" id="scan-promoter"
                  title="Coordinates relative to transcription start site? (If unchecked, coordinates are relative to the gene body.)"
                  name="scan-promoter"></p>

        <label for="up-bases">Add upstream/downstream: </label>
        <p>
            <input type="number" id="up-bases" name="up-bases" size="6" value="1000" min="0" max="100000" step="500"
                   pattern="1?[0-9]{6}"> /
            <input type="number" id="down-bases" name="down-bases" size="6" value="0" min="0" max="100000" step="500">
            <em> (default: -1000
                / +0 relative to <span id="rel-to">gene body</span>)</em>
        </p>
    </div>
</div>