<div id="parameters_data_sets_div">
    <div>
        <button type="button" class="btn btn-default col-md-1" id="parameters_data_sets_collapse" aria-label="Open">
            <span class="glyphicon glyphicon-plus data_sets" aria-hidden="true"></span>
        </button>
        <h4 id="promoter-toggle" class="col-md-11">
            Select/deselect specific data sets ("tracks")
        </h4>
    </div>


    <div id="data_sets_collapsed_div" class="collapse" style="margin-left:50px">
        <table id="tracks">
            <thead>
            <tr>
                <th>Available Tracks</th>
                <th></th>
                <th>Selected Tracks</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <!-- Leaving off the 'name=' attribute causes ajax.js
                         to ignore this field during __processForm() -->
                    <select id="available-tracks" size="10" style="width: 200px" multiple>
                        {% for t in tracks %}
                            <option value="{{ t|e }}">{{ t|e }}</option>
                        {% endfor %}
                    </select>
                </td>

                <td>
                    <button class="addremovebtn" id="add-selected-tracks">&raquo;</button>
                    <br><br>
                    <button class='addremovebtn' id="remove-selected-tracks">&laquo;</button>
                </td>

                <td>
                    <select id="selected-tracks" name="selected-tracks" size="10" style="width: 200px" multiple>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    Select <a href="#available-tracks" id="select-all-available-tracks">all</a>,
                    <a href="#available-tracks" id="deselect-all-available-tracks">none</a>
                </td>
                <td></td>
                <td>
                    Select <a href="#selected-tracks" id="select-all-selected-tracks">all</a>,
                    <a href="#selected-tracks" id="deselect-all-selected-tracks">none</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div> <!-- /#options -->
</div> <!-- /.collapser -->