<div>
    <label>
        Phenotypes
    </label>

    <br />

    <select id="select_phenotypes" style="width: 100px" multiple>
        <option class="1" value="1">1</option>
        <option class="2" value="12">12</option>
        <option class="3" value="123">123</option>
        <option class="4" value="1234">1234</option>
        <option class="5" value="12345">12345</option>
    </select>
    <p>
        Select <a href="#" id="select-all-phenotypes">all</a>,
        <a href="#" id="deselect-all-phenotypes">none</a>
    </p>
</div>