<div>
    <table>
        <tr>
            <th>
                <input id="textbox_gene_name" type="text" style="margin-bottom:10px; width: 400px"
                       placeholder="Search for gene names / aliases"/>
            </th>
        </tr>

        <tr>
            <td>
                <select id="select_gene_name" style="width: 400px" multiple>
                    <option class="1" value="1">1</option>
                    <option class="2" value="12">12</option>
                    <option class="3" value="123">123</option>
                    <option class="4" value="1234">1234</option>
                    <option class="5" value="12345">12345</option>
                </select>
            </td>
        </tr>
    </table>
</div>