<!-- partials/footer.html -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="col-md-12 navbar-text text-muted text-center">
          a <a href="https://github.com/WeirauchLab">Weirauch Lab</a>
          production | <a href="{{ url_for('frontend.about') }}">about</a>
        </div>
      </div> <!-- /.container -->
    </nav>
