{#-
    Input form for new analysis jobs
-#}
          <!-- input_form.html >>> -->
          <form class="form-horizontal" action="{{ url_for('jobs.add_job_post') }}"
           method="post" class="add-entry">
            <div class="form-group">
              <label for="name" class="col-sm-3 control-label">Job name:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name"
                 name="name">
              </div>
            </div>

            <div class="form-group">
              <label for="description" class="col-sm-3 control-label">Job
                description:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="description"
                 name="description">
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-sm-3 control-label">Contact Email:</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="email"
                 name="email">
              </div>
            </div>

            <div class="form-group text-right">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" value="submit"
                 class="btn btn-lg btn-primary">Submit</button>
              </div>
            </div>
          </form>
          <!-- <<< input_form.html -->
