  <div class="steps">
    <div class="step step4">
      <p class="branchlbl clave">Homo</p>
      <p id="br4" class="branchlbl qty collapser">25</p>
    </div>
    <div class="step step3">
      <p class="branchlbl clave">Animalia</p>
      <p id="br3" class="branchlbl qty collapser">50</p>
    </div>
    <div class="step step2">
      <p class="branchlbl clave">Archaea</p>
      <p id="br2" class="branchlbl qty collapser">75</p>
    </div>
    <div class="step baseline">
      <p id="br1" class="branchlbl qty">150</p>
    </div>
  </div>
