{% extends "base.html" %}
{% block content %}
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{ url_for('frontend.home') }}">Home</a></li>
      <li><a title="All completed jobs" href="{{ url_for('jobs.job_list') }}">Jobs</a></li>
      <li class="active">Add a new job</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Submit a new job</h2>
      {%- if session.logged_in %}
      {% include "partials/input_form.html" %}
      {%- else -%}
      <div class="alert alert-info">
        You need to <a href="{{ url_for('account.login') }}">log in</a> to submit jobs.
      </div>
      {%- endif %}
    </div><!--/.col-md-6-->
  </div><!--/.row-->
{% endblock %}

