{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% from "macros.html" import nav_link, img_url, stylesheet, img with context %}
{% block title %}{{ config.APP_NAME }}{% endblock %}
{%- block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ stylesheet('bootstrap.min.css') }}
    {{ stylesheet('style.css') }}
    <link rel="shortcut icon" href="{{ img_url('chemical.png') }}">
{%- endblock %}

{%- block body %}
{#- See: https://pythonhosted.org/Flask-Bootstrap/faq.html#why-is-bootstrap-javascript-not-loading #}
    {%- block navbar %}
    <!-- navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('frontend.home') }}">
            {{ img('chemical.png') }}
          </a>
          <a class="navbar-brand" title="Go to the start page"
            href="{{ url_for('frontend.home') }}">{{ config.APP_NAME }}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {#- nav_link('worklog', 'work log') -#}
          <li><a href="{{ url_for('contact.form') }}">contact</a></li>
          <li>
            {%- if not session.logged_in %}
              <a href="{{ url_for('account.login') }}">log in</a>
            {%- else %}
              <a href="{{ url_for('account.logout') }}">log out</a>
            {%- endif %}
          </li>
        </ul>
      </div> <!-- /.container -->
    </nav> <!-- /.navbar -->
    {%- endblock %}

    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
      <div class="row">
        <div class="col-md-12">
          {{ utils.flashed_messages(messages, dismissible=True) }}
        </div>
      </div>
    {%- endif %}
    {%- endwith %}

    <!-- content -->
    <div class="container">
      {%- block content %}{% endblock %}
    </div>
    <!-- /content -->

    {% include 'partials/footer.html' %}

    <!-- scripts -->
{%- block scripts %}
    {{- super() }}
{%- endblock %}
    <!-- /scripts -->
{%- endblock %}

