{% extends "base.html" %}
{% block content %}
{# source: https://github.com/jonmbake/bootstrap3-contact-form #}
{# license: MIT #}
    <div class="container">
      <div id="contact_form" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2>Contact Us</h2>
          <form role="form" id="feedbackForm"  data-toggle="validator"
                data-disable="false" method="post" action="{{ url_for('.post') }}">
            <div class="form-group">
              <label class="control-label" for="name">Name *</label>
              <!--<div class="input-group">-->
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required/>
                <!--<span class="input-group-addon"><i class="glyphicon glyphicon-unchecked form-control-feedback"></i></span>-->
              <!--</div>-->
              <span class="help-block" style="display: none;">Please enter your name.</span>
            </div>
{# UNCOMMENT HERE IF YOU WANT TITLE, COMPANY, WEBSITE OR PHONE FIELDS
            <div class="form-group">
              <label class="control-label" for="title">Title</label>
              <input type="text" class="form-control optional" id="title" name="title" />
            </div>
            <div class="form-group">
              <label class="control-label" for="company">Company</label>
              <input type="text" class="form-control optional" id="company" name="company" />
            </div>
            <div class="form-group">
              <label class="control-label" for="website">Website</label>
              <input type="url" class="form-control optional" id="website" name="website" />
            </div>
            <div class="form-group">
              <label class="control-label" for="phone">Phone</label>
              <input type="tel" class="form-control optional" id="phone" name="phone" placeholder="Enter your phone (Optional)"/>
              <span class="help-block" style="display: none;">Please enter a valid phone number.</span>
            </div>
#}
            <div class="form-group">
{#
              <label class="control-label" for="email">Reason for Contact *</label>
              <select name="reason" class="form-control" required>
                <option value="General Inquiry">General Inquiry</option>
                <option value="Place Order">Place Order</option>
                <option value="Report Issue">Report Issue</option>
              </select>
#}
              <span class="help-block" style="display: none;">Please enter a valid e-mail address.</span>
            </div>
            <div class="form-group">
              <label class="control-label" for="email">Email Address *</label>
              <!--<div class="input-group">-->
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required/>
                <!--<span class="input-group-addon"><i class="glyphicon glyphicon-unchecked form-control-feedback"></i></span>-->
              <!--</div>-->
              <span class="help-block" style="display: none;">Please enter a valid e-mail address.</span>
            </div>
            <div class="form-group">
              <label class="control-label" for="message">Message *</label>
              <!--<div class="input-group">-->
                <textarea rows="5" cols="30" class="form-control" id="message" name="message" placeholder="Enter your message" required></textarea>
                <!--<span class="input-group-addon"><i class="glyphicon glyphicon-unchecked form-control-feedback"></i></span>-->
              <!--</div>-->
              <span class="help-block" style="display: none;">Please enter a message.</span>
            </div>
{#
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="your_site_key"></div>
              <span class="help-block" style="display: none;">Please check that you are not a robot.</span>
            </div>
            <span class="help-block" style="display: none;">Please enter a the security code.</span>
#}
            <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg"
                    data-loading-text="Sending..." {% if g.celery_unavailable -%}
                    disabled="disabled" title="Unable to send email! Check server logs."
                    {%- endif %}>
              Send Feedback
            </button>
          </form>
        </div><!--.col-md-8-->
        <div class="col-md-2"></div>
      </div><!--/row-->
    </div><!--/.container-->
{% endblock %}
