{% extends "base.html" %}
{% from "macros.html" import stylesheet, javascript %}
{% block head %}
    {{ super() }}  
    {{ stylesheet('select2.min.css') }}
    {{ stylesheet('select2-bootstrap.min.css') }}
{% endblock %}
{% block content %}
      <div class="row">
        <ol class="breadcrumb">
          <li class="active">Home</li>
          <li><a title="All completed jobs" href="{{ url_for('jobs.job_list') }}">Jobs</a></li>
          <li><a title="Add a new job" href="{{ url_for('jobs.add_job') }}">Add a new job</a></li>
        </ol>
      </div><!--/.row-->

      <div class="row">
        <div class="col-md-6">
          <h2>Select a dataset</h2>
          <form id="datasets-select">
            <select id="datasets" multiple class="form-control" size="5">
            </select>
          </form>

          <h2>Search for existing organisms</h2>
          {% include "partials/search_form.html" %}
          {%- if session.logged_in %}
          <h2>Start a new analysis</h2>
          {% include "partials/input_form.html" %}
          {%- endif %}
        </div><!--/.col-md-6-->

        <!-- just a bit of spacing -->
        <div class="col-md-1"></div>

        <div class="col-md-5">
          <h2>Previously completed jobs</h2>
          [<a title="See all completed jobs" href="{{ url_for('jobs.job_list') }}">see all</a>]

          {% include "partials/job_list.html" %}
        </div>
      </div> <!--/.row-->
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ javascript('select2.js') }}

    {#- set this here in global scope so the 'url_root' will get substituted #}
    <script>$API_ROOT = '{{ request.url_root }}';</script>
    {{ javascript('organism_search.js') }}

    <!-- Example of building a multi-select control from a JSON data source -->
    <script>
      'use strict';
      // === jQuery method ===
      //$.ajax('static/datasets.json').done(function(data) {
      //  data.forEach(function(e) {
      //    $('#datasets')
      //      .append('<option value="' + e.name + '">' + e.name + '</option>');
      //  });
      //})

      // === VanillaJS method ===
      var $DATASETS = '/static/datasets.json';

      function getXHR() {
        var xhr = null;
        if (window.XMLHttpRequest) {
          xhr = new XMLHttpRequest();
        } else if (window.ActiveXObject) { // for IE
          xhr = new ActiveXObject('MSXML2.XMLHTTP.3.0');
        }
        return xhr;
      }

      var xhr = getXHR();
      if (!xhr) {
        throw new Error("Oh, bother. Couldn't get an XMLHttpRequest object.");
      }

      xhr.open('GET', $DATASETS, true); // "true" means async
      xhr.send(null);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status !== 200) {
            throw new Error("Oh, bother. Async request failed.");
          }

          // sort the response (case-insensitively) by dataset name
          var response = JSON.parse(xhr.responseText);
          response.sort(function(a, b) {
              if (a.name.toUpperCase() < b.name.toUpperCase()) {
                return -1;
              } else if (a.name.toUpperCase() > b.name.toUpperCase()) {
                return 1;
              } else return 0;
          });

          var datasets = document.getElementById('datasets');
          response.forEach(function(e) {
            // var opt = new Option(e.name, e.id); // non-standard?
            // the old-fashioned way (better: 'new Option(e.id, e.name)'?)
            var opt = document.createElement('option');
            opt.setAttribute('value', e.id);
            opt.textContent = e.name;
            datasets.appendChild(opt);
          }); // for each array element in JSON response
        } // if XHR readyState === DONE
      }; // onreadystatechange handler
    </script>
{% endblock %}
