{% extends "base.html" %}
{% block content %}
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{ url_for('frontend.home') }}">Home</a></li>
      <li><a href="{{ url_for('.job_list') }}">Jobs</a></li>
      <li class="active">{{ job_result.id }}</li>
    </ol>
  </div>

  {%- if session.logged_in %}
  <a title="Add a new job" class="btn btn-primary" href="{{ url_for('.add_job') }}">
    Add a new job
  </a>
  {%- endif %}
  <h2>#{{ job_result.id }}: {{ job_result.name }} </h2>
  &lt;{{ job_result.notification_email }}&gt;<br>
  {{ job_result.description|safe }}
  &mdash;<abbr title="{{ job_result.created_at }}"><em>{{ job_result.created_at|humantime }}</em></abbr>
{% endblock %}

