{% extends "base.html" %}
{% block content %}
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{ url_for('frontend.home') }}">Home</a></li>
      <li class="active">Jobs</li>
      <li><a title="Add a new job" href="{{ url_for('.add_job') }}">Add a new job</a></li>
    </ol>
  </div>

  <div class="row">
    {%- if session.logged_in %}
    {%- endif %}

{#-
    <div class="col-md-6">
      <h2>Submit a new job</h2>
      {%- if session.logged_in %}
      {% include "partials/input_form.html" %}
      {%- else -%}
      <div class="alert alert-info">
        You need to <a href="{{ url_for('accounts.login') }}">log in</a> to submit jobs.
      </div>
      {%- endif %}
    </div>
-#}

    {% include "partials/job_list.html" %}

  </div><!--/.row-->
{% endblock %}

