{% extends "base.html" %}
<!-- login.html -->
{% block content %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2>Login</h2>
      {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

      <form action="{{ url_for('account.login') }}" method="post">
        <div class="form-group">
          <label for="username">
          {%- if is_dev_server() %}
            Username {% if default_username %}({{ default_username }}){% endif %}:
          {%- else %}
            Username:
          {%- endif %}
          </label>
          <input type="text" class="form-control" id="username" name="username"
           placeholder="Username">
        </div> <!-- /.form-group -->

        <div class="form-group">
          <label for="username">
          {%- if is_dev_server() %}
            Password {% if default_password %}({{ default_password }}){% endif %}:
          {%- else %}
            Password:
          {%- endif %}
          </label>
          <input type="password" class="form-control" name="password"
           placeholder="Password">
        </div> <!-- /.form-group -->

        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="Login">
        </div> <!-- /.form-group -->
      </form>
    </div> <!-- /.col-md-8 -->

    <div class="col-md-4"></div>
  </div> <!-- /.row -->
{% endblock %}
