{% extends "base.html" %}
{% block content %}
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{ url_for('frontend.home') }}">Home</a></li>
      <li><a href="{{ url_for('search_results') }}">Search</a></li>
      <li class="active">what ever</li>
    </ol>
  </div>
{% endblock %}
