{% extends "base.html" %}
{% from "macros.html" import stylesheet, javascript %}
{% block head %}
    {{ super() }}
    {{ stylesheet('select2.min.css') }}
    {{ stylesheet('select2-bootstrap.min.css') }}
{% endblock %}
{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li class="active">Home</li>
            <li><a title="All completed jobs" href="{{ url_for('jobs.job_list') }}">Jobs</a></li>
            <li><a title="Add a new job" href="{{ url_for('jobs.add_job') }}">Add a new job</a></li>
        </ol>
    </div><!--/.row-->

    <div>
        {%- if firstlaunch_cookie == 0 %}
            {% include 'partials/home/about_help.html' %}
        {%- endif %}
    </div>


    <form id="inputform" name="inputform" method="post" accept-charset="UTF-8"
          enctype="multipart/form-data">
        {% include 'partials/home/new_job' %}

        <br/>
        <br/>


        <div id="phenotypes" style="padding-right: 50px; padding-left: 50px">
            <div>
                <input class="col-md-5" placeholder="Select Phenotype(s)" type="text"/>
                <div class="col-md-1" style="width:0"></div>
                <input class="col-md-6" placeholder="Input coords/gene/SNPs" type="text"/>
            </div>
            <br/>
            <br/>
            <div>
                <div id="phenotypes_select_box" class="col-md-2">
                    {% include 'partials/home/phenotypes_select_box.html' %}
                </div>
                <div class="col-md-2"></div>
                <div id="search_for_gene" class="col-md-8">
                    {% include 'partials/home/phenotypes_search_for_gene.html' %}
                    {% include 'partials/home/phenotypes_upload_bed.html' %}
                </div>
            </div>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <div id="parameters_div" style="padding-top:20px">
            <h2 id="new_job_label" style="font-size:30px; font-weight:700; padding-left:15px">
                Parameters:
            </h2>
            <hr/>

            {% include 'partials/home/parameters_specific_viruses.html' %}

            {% include 'partials/home/parameters_upstream.html' %}

            {% include 'partials/home/parameters_data_sets.html' %}
        </div>

        <div id="email_and_job_description" style="padding-top: 150px">
            <div class="col-md-8">
                <div>
                    <label>
                        Notification email:
                        <input type="email">
                    </label>
                </div>
                <div>
                    <label>
                        Job description:
                        <textarea name="textarea" style="width:172px;height:26px;"></textarea>
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label>
                        <input type="checkbox" value="create_account">
                        Create account <br/>
                        <p style="font-size:10px; padding-left: 10px">(Supply password in next step)</p>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" value="save_inputs">
                        Save these inputs
                    </label>
                </div>
            </div>
        </div>

        <div style="padding-top: 100px">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <input type="button" value="Reset Form" onclick="this.form.reset()"/>
                <button onclick="submitForm()">Submit</button>
            </div>
        </div>
    </form>

{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ javascript('select2.js') }}

    {#- set this here in global scope so the 'url_root' will get substituted #}
    <script>$API_ROOT = '{{ request.url_root }}';</script>
    {{ javascript('organism_search.js') }}

    <!-- Example of building a multi-select control from a JSON data source -->
    <script>
        'use strict';
        // === jQuery method ===
        //$.ajax('static/datasets.json').done(function(data) {
        //  data.forEach(function(e) {
        //    $('#datasets')
        //      .append('<option value="' + e.name + '">' + e.name + '</option>');
        //  });
        //})

        // === VanillaJS method ===
        var $DATASETS = '/static/datasets.json';

        function getXHR() {
            var xhr = null;
            if (window.XMLHttpRequest) {
                xhr = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // for IE
                xhr = new ActiveXObject('MSXML2.XMLHTTP.3.0');
            }
            return xhr;
        }

        var xhr = getXHR();
        if (!xhr) {
            throw new Error("Oh, bother. Couldn't get an XMLHttpRequest object.");
        }

        xhr.open('GET', $DATASETS, true); // "true" means async
        xhr.send(null);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status !== 200) {
                    throw new Error("Oh, bother. Async request failed.");
                }

                // sort the response (case-insensitively) by dataset name
                var response = JSON.parse(xhr.responseText);
                response.sort(function (a, b) {
                    if (a.name.toUpperCase() < b.name.toUpperCase()) {
                        return -1;
                    } else if (a.name.toUpperCase() > b.name.toUpperCase()) {
                        return 1;
                    } else return 0;
                });

                var datasets = document.getElementById('datasets');
                response.forEach(function (e) {
                    // var opt = new Option(e.name, e.id); // non-standard?
                    // the old-fashioned way (better: 'new Option(e.id, e.name)'?)
                    var opt = document.createElement('option');
                    opt.setAttribute('value', e.id);
                    opt.textContent = e.name;
                    datasets.appendChild(opt);
                }); // for each array element in JSON response
            } // if XHR readyState === DONE
        }; // onreadystatechange handler

        jQuery.fn.filterByText = function (textbox, selectSingleMatch) {
            return this.each(function () {
                var select = this;
                var options = [];
                $(select).find('option').each(function () {
                    options.push({ value: $(this).val(), text: $(this).text() });
                });
                $(select).data('options', options);
                $(textbox).bind('change keyup', function () {
                    var options = $(select).empty().scrollTop(0).data('options');
                    var search = $.trim($(this).val());
                    var regex = new RegExp(search, 'gi');

                    $.each(options, function (i) {
                        var option = options[i];
                        if (option.text.match(regex) !== null) {
                            $(select).append(
                                    $('<option>').text(option.text).val(option.value)
                            );
                        }
                    });
                    if (selectSingleMatch === true &&
                            $(select).children().length === 1) {
                        $(select).children().get(0).selected = true;
                    }
                });
            });
        };

        $('.about-help .panel-body .btn').on('click', function (e) {
            e.preventDefault();
            $('.about-help .panel-body .collapse').collapse('toggle');
        });

        $('#about_got_it_button').on('click', function (e) {
            e.preventDefault();
            document.cookie = "bioreactor_firstlaunch=1;path=/";
            $('.about-help.collapse').collapse('toggle');
        });

        function flipCollapseButton(button) {
            if (button.hasClass('glyphicon-plus')) {
                button.removeClass('glyphicon-plus').addClass('glyphicon-minus');
            } else {
                button.removeClass('glyphicon-minus').addClass('glyphicon-plus');
            }
        }

        $('#parameters_upstream_collapse').on('click', function (e) {
            e.preventDefault();
            $('#parameters_upstream_div .collapse').collapse('toggle');
            var upstream_button = $('#parameters_upstream_div .upstream');
            flipCollapseButton(upstream_button);
        });

        $('#parameters_data_sets_collapse').on('click', function (e) {
            e.preventDefault();
            $('#parameters_data_sets_div .collapse').collapse('toggle');
            var data_sets_button = $('#parameters_data_sets_div .data_sets');
            flipCollapseButton(data_sets_button);
        });

        $('#parameters_specific_viruses_collapse').on('click', function (e) {
            e.preventDefault();
            $('#parameters_specific_viruses_div .collapse').collapse('toggle');
            var specific_viruses_button = $('#parameters_specific_viruses_div .specific_viruses');
            flipCollapseButton(specific_viruses_button);
        });

        $('#select-all-phenotypes').click(function () {
            $('#select_phenotypes option').attr('selected', true);
        });

        $('#deselect-all-phenotypes').click(function () {
            $('#select_phenotypes option').attr('selected', false);
        });

        $('#select-all-available-tracks').click(function () {
            $('#available-tracks option').attr('selected', true);
        });

        $('#deselect-all-available-tracks').click(function () {
            $('#available-tracks option').attr('selected', false);
        });

        $('#select-all-selected-tracks').click(function () {
            $('#selected-tracks option').attr('selected', true);
        });

        $('#deselect-all-selected-tracks').click(function () {
            $('#selected-tracks option').attr('selected', false);
        });

        $(function () {
            $('#select_specific_virus').filterByText($('#textbox_specific_virus'), true);
            $('#select_gene_name').filterByText($('#textbox_gene_name'), true);
        });

        var submitForm = function () {
            console.log('submit form');
        }
    </script>
{% endblock %}
