body {
  font-family: "Helvetica Neue", helvetica
}

.steps {
  margin: 3em 1em 1em;
  width: 500px;
}

.step {
  min-height: 50px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  width: 100%;
  transition: min-height 500ms;
  position: relative;
}

.step.collapsed {
  transition: min-height 1s;
  min-height: 0px;
}

.baseline {
  min-height: 0px;
}

.qty.collapser {
  cursor: pointer;
}

p.branchlbl {
  margin: 0;
  line-height: 100%;
}

p.qty {
  position: absolute;
  top: -1.8em;
  right: 0;
  padding: 5px 10px;
  background-color: #6666ff;
  border-radius: 15px;
  color: white;
  font-style: bold;
}

p.qty.collapsed {
  transition: opacity 500ms;
  opacity: 0;
}

p.clave {
  position: relative;
  top: -1.3em;
  text-align:center;
  color: #888;
  letter-spacing: 0.3em;
  font-style: italic;
  font-size: small;
}

.step2 {
  margin-left: 50px;
  width: 450px;
}

.step3 {
  margin-left: 100px;
  width: 400px;
}

.step4 {
  margin-left: 150px;
  width: 350px;
}

@keyframes squish {
  from {
    min-height: 50px;
  }
  to {
    min-height: 0px;
  }
}

@keyframes fadeout {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
